/* .home{
    background-color: darkcyan;
} */
.card{
    box-shadow: 0 3px 5px -3px #000;
    background: #f7f7f7;
        padding: 10px 0px 30px 25px;
        border-bottom: 1px solid #e4e4e4;
        border-left: 1px solid #e4e4e4;
        border-right: 1px solid #e4e4e4;
        position: relative;
        bottom: 17px;
        width: 15.5rem;
        height: 7rem;
}